{% extends "layout.html" %}
{% block title %}Member Area{% endblock %}
{% block header %}Member Area{% endblock %}
{% block navtitle %}Member Area{% endblock %}
{% block content %}
    <div class="container" style="max-width: 700px; margin: 0 auto;">
        {% for thread in threads %}
            <div class="card mb-3 shadow-sm">
                <div class="card-header">
                    <h3 class="card-title mb-0">{{ thread[0] }}</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ thread[1] }}</p>
                    <a href="{{ url_for('answer_thread', thread_id=thread[2]) }}" class="btn btn-outline-primary">Answer Thread</a>
                </div>
            </div>    
        {% endfor %}
    </div>
{% endblock %}